.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#wallpaper img {
    position: fixed;
    height: 100vh;
    src: url("http://i.imgur.com/PMgfJSm.jpg");
}

body {

}

#time {
    font-size: 100px;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    color:azure;
    padding: 24px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#weather {
    font-size: 100px;
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    color: azure;
    padding: 24px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#weather:after {
    content: "\00b0";
}
