body {
    min-height: 100%;
    background-image: url("https://i.imgur.com/lBVnL6k.jpg");
    background-repeat: no-repeat;
    background-size : 100% auto
}

#time {
    font-size: 100px;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    color:azure;
    padding: 24px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#weather {
    font-size: 100px;
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    color: azure;
    padding: 24px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#weather:after {
    content: "\00b0";
}
