.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


body {
  max-height: 1080px;

}

#wallpaper img { 
  background-repeat: no-repeat;  
  background-position: 0% 0%;
  background-size: contain;
}


.semi-trans {
  opacity: 0.85; 
}

#time {
    font-size: 100px;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    color:azure;
    padding: 0px 24px 0px 24px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#weather {
    font-size: 100px;
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    color: azure;
    padding: 0px 24px 0px 24px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
